<form method="post">
    @*Emmet shorctut: (div>(label+input))*2+div>(button)*@
    <div>
        <label for="input-email">id</label>
        <input id="input-email" type="email" name="id">
    </div>
    <div>
        <button type="submit">Send</button>
    </div>
</form>