@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<form method="post">
    <div>
        <label for="Nom">Nom</label>
        <input id="Nom" type="text" name="Nom">
    </div>
    <div>
        <label for="Prenom">Prenom</label>
        <input id="Prenom" type="text" name="Prenom">
    </div>
    <div>
        <label for="Email">Email</label>
        <input id="Email" type="email" name="Email">
    </div>
    <div>
        <label for="Raison">Raison</label>
        <select id="Raison" name="Raison">
            <option value="1">Demande de Contact</option>
            <option value="2">Question</option>
            <option value="3">Demande de Devis</option>
        </select>
    </div>
    <div>
        <label for="Message">Message</label>
        <input id="Message" type="text" name="Message">
    </div>
    <div>
        <button type="submit">Send</button>
    </div>
</form>